<section>
    <div class="loginheader">
        <div class="login-header-left">
            <img src="assets/img/icons/logo.svg">
            <h1>DABubble</h1>
        </div>
        <div *ngIf="globalVariables.login && !globalVariables.signup" class="login-header-right">
            <span>Neu bei DABubble?</span>
            <app-button [classes]="['purpel-border','noIcon']" (clicked)="goToSignUp()" caption="Konto erstellen"></app-button>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer *ngIf="!globalVariables.imprintActiv"></app-footer>
</section>