<section>
    <div class="loginheader">
        <div class="login-header-left" *ngIf="!globalVariables.showSplashScreen">
            <img src="assets/img/icons/Logo.svg">
            <h1>DABubble</h1>
        </div>
        <div *ngIf="globalVariables.login && !globalVariables.signup" class="login-header-right">
            <span>Neu bei DABubble?</span>
            <app-button [classes]="['purpel-border','noIcon']" (clicked)="goToSignUp()" caption="Konto erstellen"></app-button>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer *ngIf="!globalVariables.imprintActive"></app-footer>
</section>

<div class="splash-screen" *ngIf="globalVariables.showSplashScreen" [@splashAnimation]="splashAnimationState">

</div>
<div class="animate-move-to-top-left" *ngIf="globalVariables.showSplashScreen" [@moveTopLeft]="moveTopLeftState">
    <img class="logo" [@animateLogo]="animateLogoState" src="assets/img/icons/Logo.svg">
    <div class="text-container">
        <h1 class="text" [@revealText]="revealTextState" (@revealText.done)="revealTextDone($event)">DABubble</h1>
    </div>
</div>