<div class="create-channel">
    <div class="headline">
        <div>
            <h2>Channel erstellen</h2>
        </div>
        <div>
            <button>X</button>
        </div>
    </div>
            <div class="about">
                <span class="text">
                    Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein  #marketing zum Beispiel.
                </span>
            </div>

                <div>
                    <h3>Channel-Name</h3>
                </div>

                    <div>
                        <span>placeholder</span>
                    </div>

                    <div>
                        <h3>Beschreibung</h3>
                    </div>

                    <div>
                        <span>placeholder</span>
                    </div>

                    <div class="button-area">
                        <button (click)="addNewChannel()">Erstellen</button>
                    </div>
                    
</div>









