.create-channel {
    position: absolute;
    height: 100vh;
    background-color: white;
    z-index: 1;
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    top: 50%; /* Zentriert den Container vertikal */
    left: 50%; /* Zentriert den Container horizontal */
    transform: translate(-50%, -50%); /* Korrigiert die Position, um genaue Zentrierung zu erreichen */
}

@media screen and (min-width: 800px) {
    .create-channel {
        width: 872px;
        height: 539px;
        border-radius: 40px;
        /* Die Zentrierungslogik bleibt gleich und funktioniert auch bei angepassten Breiten/Höhen */
    }
}

.headline {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.top {
    font-weight: 700;
    font-size: 22px;
}

.about {
    width: 100%;
}

.text {
    font-weight: 400;
    font-size: 13px;
    text-align: left;
}

h3 {
    font-weight: 700;
    font-size: 12px;
}

.button-area {
    display:flex;
    justify-content: flex-end;
    margin-top: 20px;
}