<div class="main-content">
  <div class="overlay" *ngIf="globalVariables.channel">
    <div class="headline">
      <div>
        <span class="top"> Channel erstellen</span>
      </div>
      <div>
        <img
          (click)="globalFunctions.closeChannelOverlay()"
          src="assets/img/icons/close.svg"
          class="close-btn"
          alt="close profile"
        />
      </div>
    </div>
    <div class="about">
      <span class="text">
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
        themenbezogen sein #marketing zum Beispiel.
      </span>
    </div>

    <div>
      <h3>Channel-Name</h3>
    </div>

    <div class="input-icon">
      <img src="" />
      <!-- <input type="text" #newChannel="ngModel" [(ngModel)]="globalVariables.channelData.channelName"> -->
      <app-inputfield
        [(ngModel)]="globalVariables.channelData.channelName"
        [classes]="['standard']"
        type="text"
        placeholder="Kooperationsprojekte"
      ></app-inputfield>
    </div>
    <div>
      <h3>Beschreibung</h3>
    </div>

    <div class="input-icon">
      <img src="" />
      <!-- <input type="text" #newChannelDescription="ngModel" [(ngModel)]="globalVariables.channelData.description"> -->
      <app-inputfield
        [(ngModel)]="globalVariables.channelData.description"
        [classes]="['standard']"
        type="text"
        placeholder="Dein Text hier"
      ></app-inputfield>
    </div>

    <div class="button-area" *ngIf="globalVariables.channelData.channelName && globalVariables.channelData.description">
      <app-button
        [classes]="['primary']"
        (clicked)="globalFunctions.toggleOverlays()"
        caption="weiter"
        imgPath=""></app-button>
    </div>
  </div>
</div>
