.headline {
    display:flex;
    justify-content: space-between;
}

h2 {
    font-weight: 700;
    font-size: 14px;
    font-family: "Nunito Sans";
    width: 197px;
}

.about {
    width: 50%;
}

.text {
    font-weight: 400;
    font-size: 8px;
    font-family: "Nunito Sans";
    text-align: left;
}

h3 {
    font-weight: 700;
    font-size: 12px;
    font-family: "Nunito Sans";
}


