<div class="main-content">
    <div class="overlay" *ngIf="globalVariables.showAddChannel">
        <div class="headline">
            <div>
                <span class="top"> Channel erstellen</span>
            </div>
            <div>
                <img (click)="globalFunctions.closeChannelOverlay()" src="assets/img/icons/close.svg" class="close-btn" alt="close profile" />
            </div>
        </div>
        <div class="about">
            <span class="text">
                Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
                themenbezogen sein #marketing zum Beispiel.
            </span>
        </div>
        <div class="inputarea">
            <div>
                <h3>Channel-Name</h3>
            </div>

            <div class="input-icon">
                <img src="" />

                <app-inputfield [(ngModel)]="channelName" [classes]="['standard']" type="text" placeholder="Kooperationsprojekte" [required]="true" id="channelName"></app-inputfield>
            </div>
            <div>
                <h3>Beschreibung</h3>
            </div>

            <div class="input-icon">
                <img src="" />
                <app-inputfield [(ngModel)]="description" [classes]="['standard']" type="text" placeholder="Dein Text hier"></app-inputfield>
            </div>
        </div>
        <div class="button-area">
            <app-button [classes]="['noIcon primary']" [isDisabled]="isValid()" (clicked)="onSubmit()" type="submit" caption="weiter" imgPath=""></app-button>
        </div>
        <div data-aos="fade-left" *ngIf="toastService.showToast" class="toast">
            <span>{{ toastService.message }}</span>
        </div>
    </div>