@import './../../styles.scss';
app-inputfield,
app-button {
    max-width: 436px;
    width: -webkit-fill-available;
    @include dFlex();
}

dialog {
    @include dFlex($fd: column);
    max-height: 769px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    max-width: 606px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 8%);
    gap: 20px;
    padding: 35px 20px;
    margin: 20px 20px;
    .input-fields {
        @include dFlex($fd: column);
        width: 100%;
        gap: 40px;
        p {
            color: $purple2;
        }
    }
    .button-field {
        display: flex;
        max-width: 350px;
        width: -webkit-fill-available;
        gap: 30px;
    }
}

.hint {
    display: flex;
    text-align: center;
}

@media (max-width: 397px) {
    .button-field {
        gap: 12px !important;
    }
}