<app-dialog>
    <section>
        <header>
            <div class="headline-wrapper">
                <app-go-back-button></app-go-back-button>
                <div class="headline">
                    <h2>Passwort zurücksetzen</h2>
                </div>
            </div>
        </header>
        <form #confirmpassword="ngForm">
            <div class="input-fields">
                <app-inputfield name="password" [imgSize]="'22px'" [classes]="['login','noIcon']" type="password" [required]="true" placeholder="Neues Passwort"></app-inputfield>
                <app-inputfield name="password" [imgSize]="'22px'" [classes]="['login','noIcon']" type="password" [required]="true" placeholder="Neues Passwort bestätigen"></app-inputfield>
                <div class="hint">
                    <span>Ihre Passwörter stimmen nicht überein.</span>
                </div>
            </div>
            <app-button type="submit" [classes]="['primary','noIcon']" [isDisabled]="confirmpassword.valid? false : true" caption="Passwort ändern"></app-button>
        </form>
    </section>
</app-dialog>