<app-dialog>
    <section>
        <header>
            <div class="headline-wrapper">
                <app-go-back-button></app-go-back-button>
                <div class="headline">
                    <h2>Passwort zurücksetzen</h2>
                </div>
            </div>
        </header>
        <form #confirmpassword="ngForm" (ngSubmit)="resetPassword(confirmpassword)">
            <div class="input-fields">
                <app-inputfield #password1="ngModel" [(ngModel)]="pwd1" name="password1" id="password1" [imgSize]="'22px'" [classes]="['login','noIcon']" type="password" [required]="true" placeholder="Neues Passwort"></app-inputfield>
                <app-inputfield #password2="ngModel" [(ngModel)]="pwd2" name="password2" id="password2" [imgSize]="'22px'" [classes]="['login','noIcon']" type="password" [required]="true" placeholder="Neues Passwort bestätigen"></app-inputfield>
                <div class="hint">
                    <span *ngIf="password1.value != password2.value && (password1.touched || password2.touched)">Ihre Passwörter stimmen nicht überein.</span>
                </div>
            </div>
            <app-button type="submit" [classes]="['primary','noIcon']" [isDisabled]="confirmpassword.valid? false : true" caption="Passwort ändern"></app-button>
        </form>
    </section>
    <div data-aos="fade-left" *ngIf="toastService.showToast" class="toast">
        <span>{{ toastService.message }}</span>
    </div>
</app-dialog>