@import "../../../../styles.scss";

.message-current-user {
  // height: 200px;
  gap: 30px;
  display: flex;
  justify-content: flex-end;
  position: relative;

  &:hover {
    background-color: #eceefe;
    cursor: pointer;
  }

  .current-user-content {
    //height: 180px;
    gap: 8px;
    display: flex;

    .info-area {
      //height: 142px;
      gap: 8px;

      .info-area-wrapper {
        justify-content: flex-end !important;
        @include dFlex($g: 20px, $jc: flex-start);

        .username {
          font-size: 18px;
          font-weight: 700;
          line-height: 25px;
        }

        .messagetime {
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          color: $text_grey;
        }
      }

      .speech-bubble-current-user {
        padding: 15px;
        border-radius: 30px 0px 30px 30px;
        gap: 8px;
        background-color: $purple2;
        .speech-bubble-current-user-text {
          padding: 15px;
          border-radius: 30px 0px 30px 30px;
          gap: 8px;
        }
      }

      .reaction-btn {
        height: 34px;
        padding: 5px;
        border-radius: 20px;
        gap: 10px;
      }
      .replie-wrapper {
        max-height: 25px;
        gap: 20px;
        display: flex;
        flex-direction: row;

        .replie-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0em;
          text-align: left;
          color: $purple3;

          &:hover {
            cursor: pointer;
            font-weight: 700;
            font-size: 18px;
            line-height: 24.55px;
          }
        }

        .timestamp-time {
          font-size: 12px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          display: flex;
        }
      }
    }
  }

  .user {
    height: 50px;
    border-radius: 40px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 40px;
    }
  }
}

.reaction-field {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.reaction-emojis {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.reaction-emoji-field {
  display: flex;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  align-items: center;
  border-radius: 10px;
  &:hover {
    border-color: rgba(68, 77, 242, 1);
  }
}

.d-none {
  display: none;
}
