<section class="message-current-user">
  <div class="current-user-content">
    <div class="info-area">
      <div class="info-area-wrapper">
        <span class="messagetime">{{ postingTime | date: 'H:mm' }}</span>
        <span class="username">{{ user.name }}</span>
      </div>
      <div class="speech-bubble-current-user" (click)="openEmojis()" (click)="globalFunctions.openReactionDialog()">
        <span class="speech-bubble-current-user-text">{{ message.message}}</span>
      </div>
      <app-reactions *ngIf="globalFunctions.openReaction"></app-reactions>
      <div class="replie-wrapper">
        <span class="replie-text" (click)="openAnswers()">1 Antworten</span>
        <span class="timestamp-text">Letze Antwort Time</span>
      </div>

    </div>
  </div>
  <div class="user">
    <img [src]="user.img" alt="" />
  </div>
</section>
