<div class="allMessages">
    <div *ngFor="let message of (messages$ | async); let i = index" class="message-container">

        <div class="dateBlockContainer">
            <ng-container *ngIf="getWeekDay(+message.timestamp) !== 'Heute'"> 
                <div class="newDate">
                    <div class="leftBar"></div>
                    <div class="dateContainer">
                        <span>
                            {{ getWeekDay(+message.timestamp) }}
                        </span>
                    </div>
                    <div class="rightBar"></div>
                </div>
            </ng-container>
        </div>

        <!-- Falls der Sender der aktuelle Benutzer ist -->
        <ng-container *ngIf="message.sender.id === currentUserId">
            <app-current-user-message 
                (click)="globalFunctionsService.openReactionDialog()"
                [message]="message" 
                [index]="i" 
                [isThread]="isThread">
            </app-current-user-message>
          </ng-container>
          <ng-container *ngIf="message.sender.id !== currentUserId">
            <app-other-user-message 
                (click)="globalFunctionsService.openReactionDialog()"
                [message]="message" 
                [isThread]="isThread">
            </app-other-user-message>
          </ng-container>
          

        <!-- Falls die Nachricht ein neues Datum hat -->

    </div>
</div>
    <!-- Scroll-Anker -->
    <div #scrolldown class="chatEnd"></div>

