$light-gray: #ccc;

$border-width: 1px;

main {
  display: flex;
  max-width: 120px;
  height: 23px;
  padding: 3px 15px 3px 20px;
  border-radius: 25px 25px 0px 25px;
  border: $border-width solid $light-gray;
  gap: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  img {
    width: 20px;
    height: 20px;
  }
}

.hands-icon:hover {
  background-color: rgba(236, 238, 254, 1);
  border-radius: 5px;
  cursor: pointer;
  width: 22.5px;
  height: 22.5px;
}

.check-icon:hover {
  background-color: rgba(236, 238, 254, 1);
  border-radius: 5px;
  cursor: pointer;
  width: 22.5px;
  height: 22.5px;
}

.reaction-icon:hover {
  border-radius: 5px;
  color: rgba(83, 90, 241, 1);
  cursor: pointer;
  width: 22.5px;
  height: 22.5px;
  filter: invert(34%) sepia(97%) saturate(2151%) hue-rotate(225deg)
    brightness(93%) contrast(103%);
}

.edit-icon:hover {
  border-radius: 5px;
  color: rgba(83, 90, 241, 1);
  cursor: pointer;
  width: 22.5px;
  height: 22.5px;
  filter: invert(34%) sepia(97%) saturate(2151%) hue-rotate(225deg)
    brightness(93%) contrast(103%);
}

.dots-icon:hover {
  border-radius: 5px;
  color: rgba(83, 90, 241, 1);
  cursor: pointer;
  width: 22.5px;
  height: 22.5px;
  filter: invert(34%) sepia(97%) saturate(2151%) hue-rotate(225deg)
    brightness(93%) contrast(103%);
}

#emoji-selector {
  flex-direction: column;
  min-width: 350px;
  width: 350px;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.232);
  //position: fixed;
  z-index: 999;

  @media (max-width: 420px) {
    height: 250px;
    width: 100vw;
    min-width: 396px;
    border-radius: 0;
  }
}

#emoji-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  height: 350px;
  width: calc(100% - 20px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.input-for-emoji {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 25px;
  border-radius: 30px;
  margin-top: 0;
  background-color: white;
  color: black;
  border: none;
  width: 80%;
  padding: 10px 20px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.167) !important;
  }
  &:focus {
    border: solid 1px grey;
  }
}

.emoji {
  margin: 8px;
  height: 30px;
  width: 30px;
  scale: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojis {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
} 

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
