<main>
  <div *ngIf="!editMessage" class="emojiContainer">
    <div class="tooltip" (click)="openEmojis()">
      <div class="icon blackIcon">
        <img src="./assets/img/icons/add_reaction.svg" alt="" />
      </div>
      <span [ngClass]="{'openEmojiTTc': isCurrentUser, 'openEmojiTTo': !isCurrentUser}" class="tooltiptext">Öffne Emojiliste</span>
    </div>

    <!-- Container edit open -->
    <div class="tooltip" (click)="this.editOpen()"
      *ngIf="!editMessage && globaleVariables.activeID == this.message.userId" appClickedOutside
      (clickedOutside)="closeEdit()">
      <div class="icon blackIcon">
        <img src="./assets/img/icons/comment.svg" alt="" />
      </div>
      <span class="tooltiptext secondTT">Nachricht bearbeiten</span>
    </div>
  </div>

  <!-- Container für edit -->
  <div id="testerino" *ngIf="editMessage && globaleVariables.activeID == this.message.userId"
    class="editContainer">
    <div class="tooltip" (click)="editSave()">
      <div class="icon">
        <img class="icon" src="assets/img/input-imgs/send.svg" alt="" />
      </div>
      <span class="tooltiptext firstTT">Bearbeitung speichern</span>
    </div>
    <div class="tooltip" (click)="editClose()">
      <div class="icon blackIcon">
        <img src="assets/img/icons/close.svg" alt="" />
      </div>
      <span class="tooltiptext secondTT">Bearbeitung abbrechen</span>
    </div>
    <div class="tooltip" (click)="remove(globaleVariables.openChannel.chatId, chatFamiliy)"
      *ngIf="globaleVariables.activeID == this.message.userId">
      <div class="icon blackIcon">
        <img src="assets/img/icons/trash.svg" alt="" />
      </div>
      <span class="tooltiptext">Nachricht löschen</span>
    </div>
  </div>

  <!-- Errorpopup -->

  <div class="errorPopUp" *ngIf="showValidatePopup">
    <div class="popupTextContainer">
      <span>Deine Änderung enthält unerlaubte Zeichen:</span>
      <br>
      <span>{{ forbiddenChars }}</span>
      <br>
      <span>Bitte entferne sie oder brich die Bearbeitung ab!</span>
    </div>
    <div class="errorBtn" (click)="closeValidatePopup()">close</div>
  </div>
</main>

<!-- emoji popup -->
<div id="emoji-selector" class="emojis" *ngIf="showEmojiList">
  <div class="emoji-list">
    <span class="emoji" *ngFor="let emoji of emojiList" (click)="showInInput(emoji)">{{ emoji["character"] }}
    </span>
  </div>
</div>