<main>
  <div>
    <img
      class="hands-icon"
      src="./assets/img/icons/emoji _person raising both hands in celebration_.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="check-icon"
      src="./assets/img/icons/emoji _white heavy check mark_.svg"
      alt=""
    />
  </div>
  <div (click)="openEmojis()">
    <img
      class="reaction-icon"
      src="./assets/img/icons/add_reaction.svg"
      alt=""
    />
  </div>
    
    
  
  <div (click)="editMessage()">
    <img class="edit-icon" src="./assets/img/icons/comment.svg" alt="" />
  </div>
</main>
<div id="emoji-selector" class="emojis">
  <div id="emoji-list">
    <span class="emoji" *ngFor="let emoji of emojiList" (click)="showInInput(emoji)" >{{ emoji['character'] }} </span>
  </div>
</div> 

