@import "../../../styles.scss";

main {
  position: relative;
  background-color: $white;
  height: 23px;
  padding: 3px 15px 3px 20px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid $light_purple;

  .icon {
    width: 22px;
    height: 22px;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;

      &:hover {
        width: 22px;
        height: 22px;
      }
    }

  }

  .blackIcon {
    &:hover {
      color: $purple3;
      filter: invert(34%) sepia(97%) saturate(2151%) hue-rotate(225deg) brightness(93%) contrast(103%);
    }
  }


  .errorPopUp {
    position: absolute;
    top: 0;
    left: 60px;
    width: 300px;
    z-index: 20;

    @include dFlex($fd: column);
    background-color: $white;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.6);
    border-radius: 20px;

    .popupTextContainer {
      text-align: center;
    }
  }
}

.emojiContainer {
  @include dFlex($g: 4px);
}

.editContainer {
  @include dFlex($g: 4px);
}

.emojis {
  @include dFlex($fd: column);

  width: 300px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid $light_purple;
  z-index: 999;

  .emoji-list {
    @include dFlex($jc: flex-start);
    flex-wrap: wrap;
    margin: 8px 0 8px 14px;
    height: 200px;
    width: calc(100% - 20px);
    overflow-y: scroll;
    overflow-x: hidden;

    .emoji {
      @include dFlex();
      margin: 8px;
      height: 15px;
      width: 15px;
      scale: 1.3;
      cursor: pointer;
    }
  }
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.firstTT {
  left: 50px !important;

  &::after {
    left: 15%;
  }
}

.secondTT {
  left: 15px !important;

  &::after {
    left: 46%;
  }
}

.openEmojiTTo {
  left: -12px !important;

  &::after {
    left: 69%;
  }
}

.openEmojiTTc {
  left: 50px !important;

  &::after {
    left: 17%;
  }
}