<app-dialog>
    <header>
        <h2>Anmeldung</h2>
    </header>
    <div class="info">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</div>
    <form #logInForm="ngForm" name="login-form">
        <div class="input-fields">
            <app-inputfield [imgSize]="'16px'" [classes]="['login']" type="email" id="email" imgName="mail" placeholder="beispielname@email.com"></app-inputfield>
            <app-inputfield [imgSize]="'22px'" [classes]="['login']" type="password" imgName="lock" placeholder="Password"></app-inputfield>
            <p>Passwort vergessen?</p>
        </div>
        <div><span class="or">ODER</span></div>
        <app-button [classes]="['google']" imgPath="assets/img/icons/google.svg" caption="Anmelden mit Google"></app-button>
        <div class="button-field">
            <app-button type="submit" [classes]="['primary']" caption="Anmelden"></app-button>
            <app-button [classes]="['secondary']" (clicked)="redirectDashboard()" caption="Gäste-Login"></app-button>
        </div>
    </form>
</app-dialog>