@import './../../../styles.scss';
section {
    @include dFlex($fd: column, $g: 30px);
    margin: 80px 20px;
    width: 90%;
    overflow:hidden;
}

header {
    @include dFlex($jc: flex-start);
    width: 100%;
}

.content {
    overflow-y: auto;
    width: 100%;
}

.headline {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headline-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 24px;
    color: $purple1;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: $purple1;
    margin: 0;
}

.info {
    display: flex;
    text-align: center;
    font-size: 20px;
    max-width: 500px;
}

@media (max-width: 690px) or (max-height:1040px) {
    section {
        margin: 40px 20px;
        gap: 20px;
    }
}

@media (max-width: 400px) or (max-height:940px) {
    .info {
        font-size: 14px;
    }
    h2 {
        font-size: 24px;
        margin: 0;
    }
    .info {
        font-size: 13px;
    }
}

@media (max-height:750px) {
    section {
        margin: 20px 20px;
        gap: 10px;
    }
}