main {
    max-width: 989px;
    max-height: 940px;
    top: 50px;
    left: 406px;
    border-radius: 30px;
    display: flex;
    background-color: white;
    flex-direction: column;
    position: relative;
}

.msg-header {
    max-width: 989px;
    max-height: 96px;
    padding: 25px 45px 25px 45px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.topic-headline {
    max-width: 278px;
    max-height: 45px;
    padding: 6px 10px 6px 10px;
    border-radius: 100px;
    gap: 10px;
    display: flex;
}

.headline {
    width: 218px;
    height: 33px;
    gap: 10px;
    display: flex;
    align-items: center;
    p {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
    }
    img {
        width: 30px;
        height: 30.19px;
        padding: 11px 8px 11px 8px;
        gap: 10px;
    }
}

.contact-row {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border: 2px;
        gap: 10px;
    }
}

.active-contacts {
    max-width: 192px;
    max-height: 46px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.add-contact {
    border-radius: 20px;
    gap: 10px;
    background-color: #d9d9d9;
    img {
        width: 22px;
        height: 16px;
        top: 3px;
        left: 2px;
        position: relative;
    }
}

.user {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    gap: 10px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 40px;
    }
}

.message {
    display: flex;
    width: 430px;
    height: 162px;
    top: 2px;
    padding: 10px, 16px, 10px, 16px;
    gap: 20px;
    position: relative;
}

.info-area {
    width: 328px;
    height: 142px;
    gap: 8px;
}

.info-area-wrapper {
    width: 184px;
    height: 25px;
    gap: 50px;
    display: flex;
    align-items: center;
}

.username {
    max-width: 100px;
    max-height: 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.messagetime {
    max-width: 64px;
    height: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #686868;
}

.speech-bubble {
    max-width: 328px;
    max-height: 76px;
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
    gap: 8px;
    background-color: #eceefe;
}

.speech-bubble-text {
    width: 298px;
    height: 46px;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.replie-wrapper {
    max-width: 260px;
    max-height: 25px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.replie-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #535af1;
}

.timestamp-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
}

.emoji-div {
    display: flex;
    max-width: 100px;
    height: 30px;
    padding: 3px, 15px, 3px, 20px;
    border-radius: 25px, 25px, 0px, 25px;
    border: 1px;
    gap: 5px;
}

.d-none {
    display: none;
}