@import "../../../styles.scss";

main {
  @include dFlex($fd: column);
  width: 100%;
  max-height: 940px;
  border-radius: 30px;
  background-color: $white;
  height: 100%;
  padding-bottom: 16px;
  box-sizing: border-box;

  .contentContainer {
    @include dFlex($fd: column, $ai: flex-end, $jc: space-between);
    margin: 18px 0;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
  }
}

.msg-header {
  width: 100%;
  max-height: 96px;
  height: 70px;
  padding: 0px 24px;
  box-sizing: border-box;
  @include dFlex($jc: space-between);
  box-shadow: 0px 2px 10px 0px #00000014;
  border-radius: 30px 30px 0 0;
  position: relative;

  @media screen and (min-width: 700px) {
    height: 96px;
  }
  .showContactsHeader {
    position: absolute;
    z-index: 1000;
    top: 51px;
    left: 50%;
  }
 

}

.topic-headline {
  max-width: 278px;
  max-height: 45px;
  border-radius: 100px;
  gap: 10px;
  display: flex;

  .headline {
    height: 33px;
    gap: 10px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
      border-radius: 20px;
      cursor: pointer;

      img {
        filter: invert(34%) sepia(97%) saturate(2151%) hue-rotate(225deg) brightness(93%) contrast(103%);
      }
    }

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 33px;
      letter-spacing: 0em;
      text-align: left;
    }

    img {
      width: 30px;
      height: 30.19px;
      padding: 11px 8px 11px 8px;
      gap: 10px;
    }
  }
}

.active-contacts {
  max-width: 192px;
  max-height: 46px;
  gap: 10px;
  @include dFlex();

  .contact-row {
    height: 40px;
    @include dFlex();

    img {
      border-radius: 100%;
      margin-left: 10px;
    }
  }

  .add-contact {
    @include dFlex();
  }

  img {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
}

.contentContainer {
  overflow: hidden;
  height: 100%;

  .messages {
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }
}

.inputfield {
  width: 90%;
  height: 145px;
  font-size: 18px !important;
  /*  box-sizing: border-box;
  margin-bottom: 16px; */
  border: 1px solid $light_purple;
  border-radius: 20px;
  @include dFlex($fd: column, $ai: normal);


  textarea {
    background-color: none;
    border: 0;
    padding-left: 16px;
    padding-top: 18px;
    font-size: 18px;
    flex: 1;
    border-radius: 20px;
    resize: none;

    &:focus-visible {
      outline: 0;
    }
  }



  .controllElementsContainer {
    position: relative;
    width: 100%;
    @include dFlex($jc: space-between);
    padding: 18px 16px;
    box-sizing: border-box;

    .showContactsTextInput {
      position: absolute;
      z-index: 1000;
      top: -280px;
      
    }
   

    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    .moreControls {
      @include dFlex($g: 8px);

      .inputFieldVerticalLine {
        height: 35px;
        width: 0;
        border: 0.5px solid $light_purple;
      }

    }
  }
}


.errorPopupOuterContainer{
  width: 100vw;
  height: 100vh;
  @include dFlex();
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .errorPopup{
    width: 240px;
    height: auto;
    @include dFlex();
    background-color: $white;
    box-shadow:  3px 3px 7px 1px rgba(0, 0, 0, 0.6);
    border-radius: 20px;

    .errorPopupInnerContainer{
      margin: 16px;
      height: 100%;
      @include dFlex($fd: column, $jc:space-around, $g:16px);
      text-align: center;
      .errorPopupTxtContainer{
        @include dFlex($fd: column, $g:8px);
      }
      .okBtn{
      width: 60px;
      border: 1px solid;
      border-radius: 20px;
    }
    
  }
    }
    
}


