@import "../../../styles.scss";

main {
  @include dFlex($fd: column);
  width: 100%;
  max-height: 940px;
  border-radius: 30px;
  background-color: $white;
  height: 100%;
  padding-bottom: 16px;
  box-sizing: border-box;

  .contentContainer {
    @include dFlex($fd: column, $ai: flex-end, $jc: space-between);
    margin: 18px 0;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
  }
}

.msg-header {
  width: 100%;
  max-height: 96px;
  height: 70px;
  padding: 0px 24px;
  box-sizing: border-box;
  @include dFlex($jc: space-between);
  box-shadow: 0px 2px 10px 0px #00000014;
  border-radius: 30px 30px 0 0;
  position: relative;

  @media screen and (min-width: 700px) {
    height: 96px;
  }

  .showContactsHeader {
    position: absolute;
    z-index: 1000;
    top: 50px;
    right: 4px;

    @media screen and (min-width: 340px) {
      right: 4%;
    }

    @media screen and (min-width: 700px) {
      top: 57px;
      right: 54px;
    }
  }


}

.topic-headline {
  flex: 1;
  @include dFlex($g: 10px, $jc:flex-start);
  
  

  .headline {
    height: 33px;
    @include dFlex($g: 10px);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 20px;
    padding: 4px 20px;

    @media screen and (min-width: 700px) {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    &:hover {
      background-color: $background;
      color: $purple3;
      
      cursor: pointer;

      img {
        filter: invert(34%) sepia(97%) saturate(2151%) hue-rotate(225deg) brightness(93%) contrast(103%);
      }
    }


    img {
      width: 30px;
      height: 30.19px;
      padding: 11px 8px 11px 8px;
      gap: 10px;
    }
  }
}

.active-contacts {
  max-width: 192px;
  max-height: 46px;
  @include dFlex($g: 10px);

  .contact-row {
    height: 40px;
    @include dFlex();
    border-radius: 30px;
    padding: 4px 20px;
    box-sizing: border-box;

    &:hover {
      background-color: $background;
      cursor: pointer;
    }

    img {
      border-radius: 100%;
      margin-left: 10px;
      width: 33px;
      height: 33px;
      border: 2px solid $white;
    }

    .secondHeadIcon {
      margin-left: -12px;
    }
  }

  .add-contact {
    @include dFlex();
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: $background;

    &:hover {
      cursor: pointer;

      img {
        filter: invert(34%) sepia(97%) saturate(2151%) hue-rotate(225deg) brightness(93%) contrast(103%);
      }
    }
  }

}

.contentContainer {
  overflow: hidden;
  height: 100%;

  .messages {
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }
}

.inputfield {
  width: 90%;
  height: 145px;
  font-size: 18px !important;
  border: 1px solid $light_purple;
  border-radius: 20px;
  @include dFlex($fd: column, $ai: normal);


  textarea {
    background-color: none;
    border: 0;
    padding-left: 16px;
    padding-top: 18px;
    font-size: 18px;
    flex: 1;
    border-radius: 20px;
    resize: none;

    &:focus-visible {
      outline: 0;
    }
  }



  .controllElementsContainer {
    position: relative;
    width: 100%;
    @include dFlex($jc: space-between);
    padding: 18px 16px;
    box-sizing: border-box;

    .showContactsTextInput {
      position: absolute;
      z-index: 1000;
      top: -280px;

    }


    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    .moreControls {
      @include dFlex($g: 8px);

      .inputFieldVerticalLine {
        height: 35px;
        width: 0;
        border: 0.5px solid $light_purple;
      }

    }
  }
}


.errorPopupOuterContainer {
  width: 100vw;
  height: 100vh;
  @include dFlex();
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .errorPopup {
    width: 240px;
    height: auto;
    @include dFlex();
    background-color: $white;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.6);
    border-radius: 20px;

    .errorPopupInnerContainer {
      margin: 16px;
      height: 100%;
      @include dFlex($fd: column, $jc: space-around, $g: 16px);
      text-align: center;

      .errorPopupTxtContainer {
        @include dFlex($fd: column, $g: 8px);
      }

      .okBtn {
        width: 60px;
        border: 1px solid;
        border-radius: 20px;
      }

    }
  }

}