<app-inputfield
      (inputChange)="handleInputChange($event)"
      [optionClasses]="['search-icon']"
      [classes]="'searchBar'"
      *ngIf="globalVariables.desktop900"
      class="searchBarContainer"
      type="search"
      imgName="search"
      placeholder="Code learning durchsuchen"
    ></app-inputfield>
    <div *ngIf="bestMatches.length > 0">
        <ul  *ngFor="let msg of bestMatches; let i = index">
            Nachricht: {{ bestMatches[i].message }}
            Benutzer-ID: {{ bestMatches[i].name }}
            Dokument-ID: {{ bestMatches[i].channelName }}
        </ul>
    </div>
