<app-inputfield
  (inputChange)="handleInputChange($event)"
  [optionClasses]="['search-icon']"
  [classes]="'searchBar'"
  *ngIf="globalVariables.desktop900"
  class="searchBarContainer"
  type="search"
  imgName="search"
  placeholder="Code learning durchsuchen"
></app-inputfield>

<div class="search-container" *ngIf="bestMatches.length > 0">
  <!--    -->
  <div *ngFor="let msg of bestMatches; let i = index" class="results">
    <span> {{ bestMatches[i].name }}: </span>
    <span> {{ bestMatches[i].message.substring(0, 10) }}{{ bestMatches[i].message.length > 20 ? '...' : '' }} </span>
    <span class="channel-result"> #{{ bestMatches[i].channelName }} </span>
  </div>
</div>
