@import "../../../../styles.scss";

.overlay {
  width: 280px;
  background: $white;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.6);
  overflow: hidden;
 
  .contactContainer {
    @include dFlex($g:15px);
    font-size: 16px;
    .contact-img {
      width: 30px;
      height: 30px;
      border-radius: 100%; 
    }
  }
  
 .headline {
    width: 95%;
    @include dFlex($jc:space-between);
    font-size: 18px;
    font-weight: 600;
  }
}

.overlayChatHeader{
  @include dFlex($fd: column, $g: 10px);
  height: 300px;
  border-radius: 30px 0px 30px 30px;
}
.overlayTextInputField{
  @include dFlex($fd: column, $jc: flex-start, $g: 10px);
  height: 200px;
  border-radius: 30px;
}

.contactListContainer {
  overflow-y: auto;
  width: 90%;
  height: auto;

  .contact-list {
    @include dFlex($fd: column, $ai: flex-start, $g: 4px);
  }

  .contact-item {
    cursor: pointer;
  }
}



