@import "../../../../styles.scss";

.overlay {
  width: 300px;
  max-width: 500px;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.6);
  @include dFlex($fd: column, $g: 10px);
  border-radius: 30px 0px 30px 30px;
  overflow: hidden;
  
}

.overlayChatHeader{
  @include dFlex($fd: column, $g: 10px);
  height: 300px;
}
.overlayTextInputField{
  @include dFlex($fd: column, $jc: flex-start, $g: 10px);
  height: 200px;
}

.contactListContainer {
  overflow-y: auto;
  width: 90%;
  height: auto;

  .contact-list {
    @include dFlex($fd: column, $ai: flex-start, $g: 4px);

  }

  .contact-item {

    cursor: pointer;
  }
}


.contact-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 15px;
}

.contactContainer {
  @include dFlex();
  font-size: 16px;
}


.headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}