<div class="overlay overlayChatHeader" [ngClass]="globalVariables.headerShowMembers ? 'overlayChatHeader' : 'overlayTextInputField'">
  <div class="headline">
    <div>
      <span class="top"   *ngIf="globalVariables.headerShowMembers"> Channel-Mitglieder</span>
    </div>
    <div>
      <img (click)="globalFunctions.closeMembers()" src="assets/img/icons/close.svg" class="close-btn"
        alt="close profile">
    </div>
  </div>
  <div class="contactListContainer">
    <div class="contact-list">
      <div class="contact-item" *ngFor="let user of selectedUsers">

        <div class="userContainer">
          <!-- version highlight member in message -->
          <label class="contactContainer" *ngIf="!globalVariables.headerShowMembers">
            <input type="checkbox"  (change)="checkboxChanged(user.name)" [(ngModel)]="user.checked">
            {{ user.name }}
            
          </label>
          <!-- version open member list in header -->
          <div class="contactContainer" *ngIf="globalVariables.headerShowMembers">
            <img [src]="user.img" alt="user image" class="contact-img">
            <span >{{ user.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="addMember" (click)="openOtherContactsOverlay()" *ngIf="globalVariables.headerShowMembers">
    <img src="../../../assets/img/icons/add.svg" alt="" />
    <span>Mitglieder hinzufügen</span>
  </div>
</div>