<main class="channel-menu">
  <section class="header-wrapper" *ngIf="globalVariables.desktop700">
    <div class="left-header-menu">
      <img src="../../assets/img/icons/Workspace logo.svg" alt="" />
      <p class="header-text">Code Learning</p>
    </div>
    <div class="edit-img-div">
      <img
        class="edit-img"
        src="../../assets/img/icons/edit_square.svg"
        alt="edit"
      />
    </div>
  </section>
  <app-inputfield [optionClasses]="['search-icon']" [classes]="'searchBar'" *ngIf="!globalVariables.desktop700" class="searchBarContainer" type="search" imgName="search" placeholder="Code learning durchsuchen"></app-inputfield>
      
  <section class="contentSection">
    <div class="all-channel">
      <div class="channel-dialog">
        <div class="channel-header">
          <div (click)="openChannelMenu()" class="channel-arrow-dropdown">
            <img id="channelMsgArrow" src="../../assets/img/icons/arrow_drop_down_default.svg" alt="" />
          </div>
          <div class="channel-headline-wrapper">
            <img src="../../../assets/img/icons/workspaces.svg" alt="" />
            <p>Channels</p>
          </div>
        </div>
        <div class="add-channel" (click)="globalFunctions.openChannelOverlay()">
          <img src="../../../assets/img/icons/add.svg" alt="" />
        </div>
      </div>
      <div class="channel-overview d-none" id="channels">
        <div class="channel-overview">
          <div class="channel-wrapper" *ngFor="let channel of allChannels" (click)="openChannel(channel)"> <!-- globalFunctions. -->
            <p><span>#</span>{{ channel.channelName }}</p> <!--  (click)="openChannelChat()" -->
          </div>
          </div>
        </div>
        <div></div>
        <div></div>
      </div>
      <div class="channel-add" (click)="globalFunctions.openChannelOverlay()">
        <a class="menu-adder">
          <img src="../../../assets/img/icons/add_circle.svg" alt="" />
          <p>Channel hinzufügen</p>
        </a>
      </div>
    <div class="direct-messages">
      <div class="messages-wrapper">
        <div class="channel-arrow-dropdown" (click)="openDirectMessageMenu()">
          <img id="msgActiveArrow" src="./assets/img/icons/arrow_drop_down_default.svg" alt="" />
        </div>
        <div class="message-helper">
          <img src="../../../assets/img/icons/account_circle.svg" alt="" />
          <p>Direktnachrichten</p>
        </div>
      </div>
      <div class="user-wrapper d-none" id="directMessage">
        <div
          class="user-detail"
          *ngFor="let user of allUsers"
          (click)="this.globalFunctions.openDirectMessageUser(user)" 
        > <!-- this.globalFunctions. -->
          <p>
            <img
              [src]="user.img"
              alt="userImage"
            />{{ user.name }}
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
