    @import './../../../styles.scss';
    app-log-in {
        width: 100%;
        height: 100%;
        @include dFlex($fd: column);
        gap: 20px;
    }
    
    dialog {
        @include dFlex($fd: column);
        max-height: 82%;
        height: fit-content;
        width: 80vw;
        max-width: 600px;
        border-radius: 30px;
        border: none;
        box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 8%);
        gap: 30px;
        padding: unset;
    }
    
    @media (max-width: 400px) or (max-height:940px) {
        app-log-in {
            gap: 10px !important;
        }
    }