@import './../../../styles.scss';
.go-back-img {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    background-image: url(assets/img/icons/arrow_back.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    &:hover {
        background-color: $background;
        background-image: url(assets/img/icons/arrow_back_hover.svg) !important;
    }
}