@import './../../styles.scss';
.splash-screen {
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    @include dFlex();
    z-index: 5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    .background-container {
        position: absolute;
        left: 0;
        background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
        width: 45%;
        height: 100%;
        z-index: 2;
    }
    .logo {
        height: 56px;
        transform: scale(3);
        z-index: 3;
    }
    .logo2 {
        height: 56px;
        z-index: 3;
    }
    .text {
        color: white;
        transform: translateX(-300%) scale(3);
    }
    .text2 {
        color: white;
    }
}

.animated-container {
    @include dFlex($g: 8px);
    width: fit-content;
    z-index: 4;
    transform: scale(3);
}

.loginheader {
    height: 135px;
}

.login-header-left {
    position: absolute;
    top: 50px;
    left: 75px;
    @include dFlex();
    gap: 10px;
    h1 {
        font-weight: 800;
    }
}

.login-header-right {
    position: absolute;
    top: 50px;
    right: 75px;
    @include dFlex($ai: flex-end, $fd: column);
    gap: 10px;
    span {
        font-weight: 600;
        padding: 0 25px;
    }
}

@media (max-width: 800px) {
    .login-header-left {
        position: absolute;
        top: 20px;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
    }
    .login-header-right {
        position: absolute;
        top: unset;
        bottom: 55px;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        gap: 0;
    }
}

@media (max-height:790px) {
    .loginheader {
        height: 100px;
    }
}

@media (max-height:730px) {
    .loginheader {
        height: 85px;
    }
    .login-header-left {
        position: absolute;
        top: 15px;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        img {
            height: 50px;
        }
    }
    .login-header-right {
        position: absolute;
        top: unset;
        bottom: 44px;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        gap: 0;
    }
}