<section>
    <div class="loginheader">
        <div class="login-header-left">
            <img src="assets/img/icons/logo.svg">
            <h1>DABubble</h1>
        </div>
        <div *ngIf="globalVariables.login && !globalVariables.signup" class="login-header-right">
            <span>Neu bei DABubble?</span>
            <app-button [classes]="['purpel-border','noIcon']" (clicked)="goToSignUp()" caption="Konto erstellen"></app-button>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer *ngIf="!globalVariables.imprintActive"></app-footer>
</section>

<div class="splash-screen" *ngIf="globalVariables.showSplashScreen">
    <div class="background-container">
    </div>
    <img *ngIf="!showAnimatedContainer" class="logo" [@animateLogo]="logoState" src="assets/img/icons/logo.svg">
    <h1 *ngIf="!showAnimatedContainer" class="text" [@revealText]="textState">DABubble</h1>
    <div *ngIf="showAnimatedContainer" [@moveTogether]="togetherState" class="animated-container">
        <img class="logo2" src="assets/img/icons/logo.svg">
        <h1 class="text2">DABubble</h1>
    </div>
</div>