<div class="main-content">

    <div class="overlay" *ngIf="globalFunctions.showContacts">
        <div class="headline">
    <div>
        <span class="top"> Leute hinzufuegen</span>
        </div>
        <div>
        <img (click)="globalFunctions.closeUserOverlay()" src="assets/img/icons/close.svg" class="close-btn" alt="close profile">
        </div>

        <app-inputfield
        [classes]="['standard']"
        type="search" 
        placeholder="Mitglieder suchen"
      ></app-inputfield> 
    </div>
    <div class="add">
     
        <div class="button-area">
            <app-button
            [classes]="['primary']"
            (clicked)="addNewChannel()"
            caption="Hinzufügen"
            imgPath=""
            ></app-button>
        </div>
    </div>
    </div>
    </div>
