@import "../../../../styles.scss";

.overlay {
    background-color: white;
    z-index: 4;
    max-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100vh;
    border-radius: 30px, 0px, 30px, 30px;
    overflow-y: hidden;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .overlay {
        background-color: $white;
        z-index: 2;
        max-width: 700px;
        padding-left: 40px;
        padding-right: 40px;
        height: 30vh;
        border-radius: 30px 0px 30px 30px;
        width: 328px;
        position: absolute;
        top: 180px;
        right: 60px;
    }
}

.top {
    font-weight: 700;
    font-size: 24px;
}

.title {
    color: #797ef3;
    font-size: 18px;
    margin-top: 8px;
    
}

.main-content {
    @include dFlex();
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.close-btn {
    cursor: pointer;
}

.headline {
    @include dFlex($jc:space-between);
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin-top: 40px;
    margin-bottom: 16px;
}

.add {
    @include dFlex($jc:flex-end);
   /*  display: flex;
    justify-content: flex-end; */
    margin-top: 30px;
}

ul {
    height: 40%;
    overflow-y: auto;

    img {
        border-radius: 100%;
        width: 20px;
    }
}