<div class="main-content">
    <div class="overlay" *ngIf="globalVariables.showContacts">
        <div class="headline">
            <div>
                <span class="top"> Leute hinzufügen</span>

                <div>
                    <span class="title">#{{ globalVariables.openChannel.titel }}</span>
                </div>
            </div>
                <div>
                    <img (click)="globalFunctions.closeAddContactsOverlay()" src="assets/img/icons/close.svg" class="close-btn" alt="close profile">
                </div>
        </div>
        
        <div class="custom" *ngIf="selectedUserDetails">
            <img [src]="selectedUserDetails.img" class="user-img">
            <span>{{ selectedUserDetails.name }}</span>
            <button (click)="clearSelectedUser()">X</button>
        </div>
        <input *ngIf="!selectedUserName" [(ngModel)]="searchText" class="form-control" type="search" placeholder="Mitglieder suchen">


        <!-- <ul *ngIf="users.length > 0">
            <li *ngFor="let user of users" (click)="selectUser(user)">
                <img [src]="user.img" alt="userImage" class="user-img">{{ user.name }}
            </li>
        </ul> -->

        <div class="add">
            <div class="button-area">
                <app-button [classes]="['primary']" (click)="addUsersToExistingChannel() " caption="Hinzufügen" imgPath=""></app-button>
            </div>
        </div>
    </div>
</div>