@import './../../../styles.scss';
input {
    width: -webkit-fill-available;
    border-radius: 100px;
    padding: 18px 32px 18px 60px;
    outline: none;
    font-size: 1em;

}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover { 
    cursor:pointer; 
}

.input-icon {
    width: -webkit-fill-available;
    height: fit-content;
    position: relative;
    display: inline-block;
    
    .input-icon-img {
        @include dFlex();
        position: absolute;
        height: 40px;
        left: 30px;
        top: 13px;
    }
    .search-icon {
        left: unset !important;
        right: 20px;
        @include size(35px !important, 35px);
        top: 17px !important;
    }
}

.noIcon {
    padding: 0 15px !important;
    height: 52px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
}

.iconRight {
    padding: 10px 50px 10px 20px !important;
    height: 54px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
}

.searchBar {
    padding: 0 32px;
    height: 70px;
    border: 0;
    @media screen and (min-width: 900px) {
        font-size: 16px;
    }
    @media screen and (min-width: 932px) {
        font-size: 18px;
    }
    @media screen and (min-width: 1018px) {
        font-size: 24px;
    }
}

.searchBarChannelMenu {
    padding: 0 !important;
}

.searchBarContainer {
    width: 500px;
    display: flex;
}

@media (max-width: 480px) or (max-height:700px) {
    input {
        padding: 8px 10px 8px 50px !important;
        font-size: 0.8em;
    }
    .input-icon-img {
        height: 40px;
        left: 18px !important;
        top: 2px !important;
    }
}

.login {
    border: 1px solid $background;
    background-color: $background;
    &:hover {
        border-color: $light_purple;
    }
    &:focus {
        border-color: $purple3 !important;
    }
}

.standard {
    border: 1px solid $light_purple;
    background-color: none;
    &:hover {
        border-color: $purple2;
    }
    &:focus {
        border-color: $purple3 !important;
    }
}

.inputFieldChat {
    border: 0;
    padding-left: 16px !important;
    padding-top: 18px !important;
    font-size: 18px !important;
}