<section>
    <div class="accountContainer" (click)="toggleProfileMenu()">
        <h3 *ngIf="isDesktop">{{ userName }}</h3>
        <div class="avatarCon">
            <img class="imgAvatar" [src]="userAvatar" alt="avatar">
            <img *ngIf="isDesktop" class="imgArrow" src="assets/img/icons/keyboard_arrow_down.svg" alt="arrow-down">
        </div>
    </div>
    
    <div *ngIf="showProfileMenu" class="openMenu" (click)="toggleProfileMenu()">
        <div class="outerContainer">
            <div class="innerContainer" (click)="stopPropagation($event)">
                <div class="closeContainer" (click)="toggleProfileMenu()">
                    <div class="closeBar"></div>
                </div>
                <div class="menuOuterContainer">
                    <div class="menu">
                        <a (click)="openProfile(true, profileUserId); $event.stopPropagation()">
                            <img *ngIf="!isDesktop" src="assets/img/icons/account_circle.svg" alt="avatarIcon">
                            <span>Profile</span>
                        </a>
                        <a (click)="logOut()">
                            <img *ngIf="!isDesktop" src="assets/img/icons/logout.svg" alt="logoutIcon">
                            <span>Log out</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <!-- Profil-Overlay -->
  <app-profile *ngIf="showProfileOverlay" (closeProfileEvent)="closeProfile()"></app-profile>
  