<section>
    <div class="accountContainer" (click)="menuClicked()">
        <h3 *ngIf="globalVariables.desktop600">Frederik Beck</h3>
        <div class="avatarCon">
            <img class="imgAvatar" src="assets/img/avatars/Frederik Beck.svg" alt="avatar">
            <img *ngIf="globalVariables.desktop600" class="imgArrow" src="assets/img/icons/keyboard_arrow_down.svg" alt="arrow-down">
        </div>


    </div>
    <div *ngIf="active" class="openMenu" (click)="menuClicked()">
        <div class="innerContainer" (click)="stopPropagation($event)">
            <div class="closeContainer" (click)="menuClicked()">
                <div class="closeBar"></div>
            </div>
            <div class="menuOuterContainer">
                <div class="menu">
                    <a>
                        <img src="assets/img/icons/account_circle.svg" alt="avatarIcon">
                        <span>Profile</span>
                    </a>
                    <a>
                        <img src="assets/img/icons/logout.svg" alt="logoutIcon">
                        <span>Log out</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>