<section>
    <div class="cardOuterContainer" [ngClass]="{ 'cardCurrentUser': globalVariables.ownprofile }">
        <div class="card "  appClickedOutside (clickedOutside)="closeProfile()">
            <div class="content" >

                <!-- area head show name -->
                <div *ngIf="!globalVariables.showEditProfile" class="head">
                    <h3>Profile</h3>
                    <img (click)="close()" src="assets/img/icons/close.svg" alt="close profile">
                </div>

                <!-- area head edit name -->
                <div *ngIf="globalVariables.showEditProfile" class="head">
                    <h3>Dein Profil bearbeiten</h3>
                    <img 
                        (click)="cancelEdit()" 
                        src="assets/img/icons/close.svg" 
                        alt="close profile"
                    >
                </div>

                <!-- area profile image -->
                <div class="imgContainer">
                    <img [src]="profile.img" alt="profile image">
                </div>
            </div>
            <!-- form show or edit start -->
            <form class="content">

                <!-- area show name -->
                <div *ngIf="!globalVariables.showEditProfile" class="nameContainer">
                    <h2>{{profile.name}}</h2>
                    <div class="editContainer" 
                        *ngIf="globalVariables.ownprofile" 
                        (click)="editProfile()"
                    >
                        <img 
                            *ngIf="!globalVariables.desktop600" 
                            src="assets/img/icons/edit.svg" 
                            alt="edit profile"
                        >
                        <span *ngIf="globalVariables.desktop600">Bearbeiten</span>
                    </div>
                </div>

                <!-- area show aktiv or not -->
                <div *ngIf="profile.isActive && !globalVariables.showEditProfile" class="status">
                    <img src="assets/img/icons/online.svg" alt="profile online">
                    <span>Aktiv</span>
                </div>
                <div *ngIf="!profile.isActive && !globalVariables.showEditProfile" class="status">
                    <img src="assets/img/icons/offline.svg" alt="profile offline">
                    <span>Abwesend</span>
                </div>

                <!-- area edit name-->
                <div *ngIf="globalVariables.showEditProfile" class="iconTxtContainer">
                    <img src="assets/img/icons/account_circle.svg" alt="edit profile">
                    <h4>Vollständiger Name</h4>
                </div>

                <div class="inputFieldContainer">
                    <app-inputfield 
                        *ngIf="globalVariables.showEditProfile" 
                        [classes]="'noIcon standard'" 
                        name='profileName'  
                        [(ngModel)]="nameBuffer" 
                        type="text" 
                        placeholder="Dein Name hier"
                    >
                    </app-inputfield>
                </div>

                <!-- area mail -->
                <div class="mailContainer">
                    <!-- area show mail -->
                    <div class="iconTxtContainer">
                        <img src="assets/img/input-imgs/mail_black.svg" alt="e-mail">
                        <h4>E-Mail-Adresse</h4>
                    </div>
                    <div *ngIf="!globalVariables.showEditProfile" class="mailAdressContainer">
                        <a  href="mailto:{{profile.email}}">{{profile.email}}</a>
                    </div>
                    <!-- area edit mail -->
                    <div *ngIf="globalVariables.showEditProfile" class="inputFieldContainer">
                        <app-inputfield 
                            type="email" 
                            [classes]="'noIcon standard'" 
                            name='email'  
                            [(ngModel)]="emailBuffer" 
                            placeholder="Deine E-Mail hier"
                            >
                        </app-inputfield>
                    </div>
                </div>
                <!-- area button write message -->
                <div 
                    class="messageBtn" 
                    *ngIf="!globalVariables.showEditProfile && globalVariables.ownprofile"
                >
                </div>
                <app-button 
                    class="messageBtn" 
                    type="button"
                    *ngIf="!globalVariables.showEditProfile && !globalVariables.ownprofile" 
                    [classes]="['primary']" 
                    (click)="globalFunctions.openDirectMessageUser(profile)"
                    (click)="close()"
                    caption="Nachricht" imgPath="assets/img/icons/mode_comment.svg"
                    >
                </app-button>
                <!-- area button cancel or submit change -->
                <div *ngIf="globalVariables.showEditProfile" class="btnContainer">
                    <app-button 
                        [classes]="['secondary noIcon']" 
                        (clicked)="cancelEdit()" 
                        caption="Abbrechen"
                        >
                    </app-button>
                    <app-button 
                        [classes]="['primary noIcon']" 
                        (clicked)="sumbitEdit()" 
                        caption="Speichern"
                    >
                    </app-button>
                </div>

            </form>
        </div>
    </div>

</section>