section{
  display: flex;
    justify-content: center;
    width: 100vw;
}
.app-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 90%;
  margin-top: 20px;
}

.channel-menu {
  height: 100%; 
}

.chat-content, .thread-content {
  min-width: 360px; 
  flex: 1;
}

.menu-toggle-btn {
  position: fixed;
  left: 5%;
  bottom: 226px;
  transform: translateX(-50%); 
  writing-mode: vertical-lr; 
  transform: rotate(180deg);
  border-radius: 30px
}
  