.dashboard {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: calc(100vh - 145px);
  
  .app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    width: 90%;
    margin-top: 20px;

    .channel-menu {
      flex: 0;
    }

    .chat-content {
      flex: 1;
    }
  }
}




.menu-toggle-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  position: fixed;
  left: -88px;
  bottom: 30%;
  transform: rotate(270deg);
  border-radius: 0 0 30px 30px;
  background: var(--White, #fff);
  box-shadow: 4px 4px 7px #0003;
  padding: 12px;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle-btn:hover {
  background: var(--purple1, rgb(68, 77, 242));
  color: #fff;
  box-shadow: 0 0 15px var(--purple1, rgb(68, 77, 242));
}