<section>
    <div class="app-container">
        <div class="channel-menu">
            <app-channel-menu></app-channel-menu>
        </div>
        <div class="chat-content">
            <app-chat *ngIf="!globalVariables.isChatVisable"></app-chat>
            <app-private-chat *ngIf="globalVariables.isChatVisable"></app-private-chat>
        </div>
        <!-- <div class="thread-content"> -->
            <app-thread *ngIf="globalVariables.showThread"></app-thread>
        <!-- </div> -->
    </div>
</section>