<section class="dashboard">
    <div class="menu-toggle-btn" *ngIf="globalVariables.desktop700" (click)="toggleChannelMenu()">
        <span>Workspace-Menu schließen</span>
    </div>
    <div class="app-container">
        <div class="channel-menu" *ngIf="globalVariables.showChannelMenu">
            <app-channel-menu></app-channel-menu>
        </div>
        <!-- <div class="content-container"> -->
        <div class="chat-content" *ngIf="globalVariables.isChatVisable"> <!--  || globalVariables.isPrivatChatVisable -->
            <app-chat *ngIf="globalVariables.isChatVisable"></app-chat>
            <!-- <app-private-chat *ngIf="globalVariables.isPrivatChatVisable"></app-private-chat> -->
        </div>

        <!-- </div> -->
        <div class="thread-content" *ngIf="globalVariables.showThread">
            <app-thread></app-thread>
        </div>
    </div>
</section>