<main>
  <section class="thread-header">
    <div class="headline">Thread</div>
    <div class="tag-name"># Placeholder</div>
    <div class="close-img">
      <img src="../../../assets/img/icons/close.svg" alt="close-btn" (click)="closeThread()" />
    </div>
  </section>
  <section class="message-container">
    <!-- first element -->
    <div class="initialuser">
      <div class="current-user-content">
        <div class="info-area">
          <div class="info-area-wrapper">
            <span class="messagetime">{{ globalVariables.messageThreadStart.timestamp | date: 'H:mm' }}</span>
            <span class="username">{{ globalVariables.messageThreadStart.userName }}</span>
          </div>
          <span class="speech-bubble-current-user-text">{{ globalVariables.messageThreadStart.message }}</span>
        </div>
      </div>
      <div class="user">
        <img [src]="globalVariables.messageThreadStart.img" alt="" />
      </div>
    </div>

    <div class="partingLine"></div>
    <app-all-messages [isChat]="false"></app-all-messages>
    
  </section>
  <!-- input marnie-->
  <!-- container for all inputfield and controll elements -->
  <section class="inputfield">
    <app-inputfield [classes]="['standard']" type="text" placeholder="Deine Nachricht"
      [(ngModel)]="globalVariables.messageData.message"></app-inputfield>
    <div class="controllElementsContainer">
      <div class="moreControlls"></div>
      <img src="assets/img/input-imgs/send.svg" alt="send button" (click)="sendMessage()">
    </div>
  </section>
</main>