main {
  max-width: 485px;
  max-height: 940px;
  // top: 115px;
  // left: 1415px;
  border-radius: 30px;
  // position: absolute;
  background-color: white;
}

.thread-header {
  max-width: 485px;
  max-height: 104px;
  padding: 32px 40px 32px 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.headline {
  width: 80px;
  height: 33px;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 20px;
}

.tag-name {
  max-width: 99px;
  max-height: 19px;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #797ef3;
  padding-right: 50px;
}

.close-img {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 20px;
  top: 8px;
  left: 8px;
  position: relative;
  img {
    width: 24px;
    height: 24px;
  }
}
