@import "../../../../styles.scss";

.message {
  display: flex;
  gap: 20px;
  width: 100%;
  // margin: 0px 16px;
  position: relative;

  &:hover {
    background-color: #eceefe;
    cursor: pointer;

    .speech-bubble {
      background-color: white !important;
    }
  }

  .user {
    img {
      width: 50px;
      height: 50px;
      border-radius: 40px;
    }
  }

  .info-area {


    .info-area-wrapper {
      @include dFlex($g: 20px, $jc: flex-start);

      .username {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
      }

      .messagetime {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        color: $text_grey;
      }
    }

    .speech-bubble {
      white-space: pre-wrap;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 0px 30px 30px 30px;
      background-color: $background;

      img {
        max-width: 200px;
      }

      .speech-bubble-text {
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .emoji-div {
      display: flex;
      max-width: 100px;
      padding: 3px 15px 3px 20px;
      border-radius: 25px 25px 0px 25px;
      border: 1px;
      gap: 5px;

      img {
        height: 15px;
        width: auto;
      }
    }

    .replie-wrapper {
      @include dFlex($g: 20px, $jc: flex-start);

      .replie-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        color: $purple3;
        width: 100px;

        &:hover {
          cursor: pointer;
          font-weight: 700;
        }
      }

      .timestamp-text {
        font-size: 12px;
        font-weight: 400;

      }
    }
  }
}

.reaction-field {
  @include dFlex($jc: flex-start, $ai: flex-end, $fd: column);

  position: absolute;
  top: 0;
  right: 0;
}

.reaction-emojis {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.reaction-emoji-field {
  display: flex;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  align-items: center;
  border-radius: 10px;

  &:hover {
    border-color: rgba(68, 77, 242, 1);
  }
}

.d-none {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}