<section class="message" (mouseenter)="onSelectMessage()" (mouseleave)="onLeaveMessage()">
  <app-reactions class="reaction-field" 
    *ngIf="openReaction" [message]="message"
    [originalMessage]="originalMessage"
    [isCurrentUser] = "false">
  </app-reactions>
  <div class="user">
    <img *ngIf="user.img" [src]="user.img" alt="" (click)="globalFunctions.openProfile(false, message.userId)"/>
  </div>
  <div class="info-area">
    <div class="info-area-wrapper">
      <span class="username" *ngIf="user.name" (click)="globalFunctions.openProfile(false, message.userId)">{{ user.name }}</span>
      <span class="messagetime">{{ postingTime | date : "H:mm" }}</span>
    </div>
    <div class="speech-bubble">
      <span class="speech-bubble-text" *ngIf="messageInfo.message !== ''">{{ messageInfo.message }}</span>
      <div class="loadedImg" *ngIf="isImage">
        <img src="{{ messageInfo.messageImgUrl }}" alt="">
      </div>
      <span class="speech-bubble-text" *ngIf="messageInfo.textAfterUrl !== ''">{{ messageInfo.textAfterUrl }}</span>
    </div>
    <div class="reaction-emojis">
      <ng-container *ngFor="let emoji of message.emoji let index = index">
        <div class="singleEmojiContainer"
        (mouseenter)="onMouseOver(index)"
        (mouseleave)="onMouseOut()">
          <span class="reaction-emoji-field" 
            *ngIf="emoji.userId && emoji.userId.length > 0"
            (click)="addUserIdToEmoji(emoji, index)">
            {{ emoji.icon }} {{ emoji.userId.length }}
          </span>
          <div class="tooltiptext">
            <span *ngIf="mouseover && hoverIndex === index">{{ hoverUser }}</span>
            <span *ngIf="count > 0 && hoverIndex === index"> & {{ count }} Person</span><span
              *ngIf="count > 1">en</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!isThread && !globalVariables.isUserChat" class="replie-wrapper">
      <div class="replie-text" (click)="openAnswers()">
        <span *ngIf="answercount !== 0">{{ answercount }}</span>
        <span> Antwort</span>
        <span *ngIf="answercount !== 1">en</span>
      </div>
      <span *ngIf="answercount !== 0" class="timestamp-text">Letzte Antwort: {{ lastAnswerTime | date : "dd.MM.YY H:mm"
        }}</span>
    </div>
  </div>
</section>