<div class="Edit-content" *ngIf="globalVariables.editChannelOverlayOpen">
  <div class="overlay">
    <div class="headline">
      <div>
        <span class="top">#{{ globalVariables.channelData.channelName }}</span>
      </div>
      <div>
        <img (click)="globalFunctions.closeEditOverlay()" src="assets/img/icons/close.svg" class="close-btn" alt="Schließen">
      </div>
    </div>

    <!-- Description Input -->
    <div class="border">
      <div class="editName-area">
        <div class="first-row">
          <label for="channelName" class="label">Channel name:</label>
          <button class="edit-btn" (click)="toggleEdit()">
            <span *ngIf="!editChannelDM" (click)="editChannelName()">Bearbeiten</span>
            <span *ngIf="editChannelDM" (click)="sumbitEdit()">Speichern</span>
            <!-- {{ globalVariables.channelData.channelName }} -->
          </button>
        </div>
        <div *ngIf="!editMode.channelName" class="channel-name-display">#{{ globalVariables.channelData.channelName }}</div>
        <app-inputfield *ngIf="editChannelDM" [(ngModel)]="editedName" [classes]="['standard']" type="text"></app-inputfield>
        <!-- <app-inputfield *ngIf="editMode.channelName" [(ngModel)]="globalVariables.channelData.channelName" [classes]="['standard']" type="text"></app-inputfield> -->
      </div>
    </div>

    <!-- Bereich für die Beschreibung -->
    <div class="border">
      <div class="editName-area">
        <div class="first-row">
          <label for="description">Beschreibung:</label>
<!--           <button class="edit-btn" (click)="toggleEdit('description')">
            {{ editMode.description ? 'Speichern' : 'Bearbeiten' }}
          </button> -->
        </div>
          <div *ngIf="!editMode.description">{{ globalVariables.channelData.description }}</div>
            <app-inputfield *ngIf="editMode.description" [(ngModel)]="globalVariables.channelData.description" [classes]="['standard']" type="text"></app-inputfield>

            <div class="line">
              
            </div>
    
                <div class="creator">
                  <label>Erstellt von:</label>
                  <div>{{profile.name}}</div>
                </div>
        </div>
    </div>
          <div class="button-area">
            <app-button [classes]="['primary']" (click)="saveChangesAndExit()" caption="{{ globalVariables.isEditingChannel ? 'Änderungen speichern und Channel verlassen' : 'Channel erstellen' }}" imgPath=""></app-button>

          </div>
  </div>
</div>